<div>
  <div class="select-container">
    <label for="category-select">Choose a category: </label>

    <select name="category" class="form-control" [(ngModel)]="selectedCategoryId" id="category-select">
        <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </div>

  <div class="select-container">
    <label for="difficulty-select">Choose a difficulty level: </label>

    <select name="difficulty" class="form-control" [(ngModel)]="difficulty" id="difficulty-select">
        <option *ngFor="let level of DifficultyLevels | keyvalue" [value]="level.value">{{ level.value }}</option>
    </select>
  </div>
</div>

<button *ngIf="selectedCategoryId" id="create-btn" type="button" class="user-action" (click)="OnCreateQuiz()">Create</button>
