.is-selected {
    background-color: green;
}
.is-error {
    background-color: red;
}
:not(button.is-showing-solution,button.is-selected):hover {
    background-color: aquamarine;
  }
:not(button.is-showing-solution):hover {
    cursor: pointer;
}
