/* You can add global styles to this file, and also import other style files */

button {
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px 20px 0px;
    border-color: green;

    &.user-action {
      padding: 25px;
      margin: 25px;
      font-size: x-large;
      width: calc(100% - 50px);
      background-color: grey;
      color: white;
      border-radius: 25px;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: darkgrey;
      }
    }
}
